body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: linear-gradient(to right, #000, #434343);
    color: #fff;
    padding: 20px 0;
    border-bottom: 3px solid #77d5d4;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .branding h1 {
    margin: 0;
    font-size: 2em;
}

header .branding p {
    margin: 0;
    font-size: 1em;
    color: #77d5d4;
}

header nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #77d5d4;
}

section {
    padding: 100px 0 60px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-10px);
}

section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
    position: relative;
}

section h2::after {
    content: '';
    background: #77d5d4;
    display: block;
    height: 3px;
    width: 60px;
    margin: 20px auto 0;
    border-radius: 50%;
}

.experience h3, .projects h3 {
    color: #77d5d4;
    margin-bottom: 10px;
}

.experience ul, .projects p {
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skills-list li {
    flex: 1 1 45%;
    margin: 10px 0;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

footer {
    padding: 20px;
    background: #333;
    color: #fff;
    text-align: center;
    border-top: #77d5d4 3px solid;
}

@media (max-width: 768px) {
    .skills-list li {
        flex: 1 1 100%;
    }

    header nav ul li {
        display: block;
        padding: 10px 0;
    }
}
